[submodule "nvim-lspconfig"]
	path = nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "mason.nvim"]
	path = mason.nvim
	url = https://github.com/mason-org/mason.nvim
[submodule "mason-lspconfig.nvim"]
	path = mason-lspconfig.nvim
	url = https://github.com/mason-org/mason-lspconfig.nvim
[submodule "none-ls.nvim"]
	path = none-ls.nvim
	url = https://github.com/nvimtools/none-ls.nvim
[submodule "nvim-treesitter"]
	path = nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "conform.nvim"]
	path = conform.nvim
	url = https://github.com/stevearc/conform.nvim
[submodule "kanagawa.nvim"]
	path = kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim
[submodule "blink.cmp"]
	path = blink.cmp
	url = https://github.com/saghen/blink.cmp
[submodule "vim-wakatime"]
	path = vim-wakatime
	url = https://github.com/wakatime/vim-wakatime
[submodule "nvim-web-devicons"]
	path = nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "lualine.nvim"]
	path = lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "telescope.nvim"]
	path = telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "plenary.nvim"]
	path = plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "tabby.nvim"]
	path = tabby.nvim
	url = https://github.com/nanozuki/tabby.nvim
